@charset "utf-8";

:root {
  --main-color:#6556F2;
  --background-color: #F2F2F2;
  --color: #2E3D45;
  --dark-gray: #AFAFAF;
  --subtle-gray: rgba(175, 175, 175, 0.304);
  --white: #fff;
  --font-family: 'Roboto', sans-serif;
  --input-border-radius: 60px;
  --widget-border-radius: 25px;
  --small-gray-text: 12px;
  --main-widget-gap: 30px;
  --main-widget-padding: 20px;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  font-family: var(--font-family);
  height: 100svh;
  background-color: var(--background-color);
  color: var(--color);
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}