@charset "utf-8";

.flex-sb {
    justify-content: space-between;
}

li {
    list-style: none;
}

header {}

main {
    min-height: 500px;

    aside,
    section>div {
        background-color: var(--white);
    }

    aside {
        width: 25%;
        padding: 10px;
        margin: 50px;
        border-radius: 20px;
    }

    .content {
        width: 50%;
        text-align: center;
        padding: 10px;
        border-radius: 20px;
        margin-top: 50px;

        textarea {
            width: 100%;
        }

        .post {
            background-color: var(--white);
            padding: 10px;
            border-radius: 20px;
            margin-top: 30px;
        }
    }

    .right-aside {
        margin: 50px 0 0 20px;

        h2 {
            font-size: 20px;
        }

        .user {
            background-color: var(--background-color);
            border-radius: 20px;
            align-items: center;
            margin: 10px 0;
            padding: 10px;
            font-size: 14px;
            color: var(--color);

            img {
                aspect-ratio: 1 / 1;

                &.portrait {
                    border: 1px solid var(--white);
                    border-radius: 50%;
                }

                &.add {
                    width: 20px;
                    height: 20px;
                }
            }

            .grid {
                width: 100%;
                padding-left: 10px;

                span:last-of-type {
                    color: var(--dark-gray);
                }
            }
        }
    }
}

footer {}